<a href="https://colab.research.google.com/github/zohafatimadev/ACIP/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

index = ['a', 'x', 'c', '2', 'e']
data = [1, 4, 9, 6, 7]

series = pd.Series(data, index=index, dtype=int)
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

In [ ]:
import pandas as pd

data = {'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}

series = pd.Series(data, dtype=int)
print(series)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

In [ ]:
import pandas as pd

data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [1]:
import pandas as pd

data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

index = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(data, index=index)
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

In [2]:
import pandas as pd

data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

index = ['a', 'b', 'c', 'd', 'e', 'f']

df = pd.DataFrame(data, index=index)

# Calculate mean, maximum, and minimum for the "temperature" column
temperature_stats = df['temperature'].agg(['mean', 'max', 'min'])

print("Mean temperature:", temperature_stats['mean'])
print("Maximum temperature:", temperature_stats['max'])
print("Minimum temperature:", temperature_stats['min'])

Mean temperature: 30.333333333333332
Maximum temperature: 35.0
Minimum temperature: 24.0

In [8]:
import pandas as pd

# Create DataFrame
data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Address': ['Lahore', 'Karachi', 'Sialkot', 'Peshawar', 'Lahore'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'BSC']
}

AICP_DF = pd.DataFrame(data)

# Save 'Name' and 'Qualification' columns to df1
df1 = AICP_DF[['Name', 'Qualification']]

# Add a new column 'Height'
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

# Set 'Name' column as index
AICP_DF.set_index('Name', inplace=True)

# Retrieve row with index 'Hifza'
row_hifza = AICP_DF.loc['Hifza']

# Retrieve row with index 3
row_3 = AICP_DF.iloc[3]

# Drop row with index 'Bilal'
AICP_DF.drop(index='Bilal', inplace=True)

print("AICP_DF:")
print(AICP_DF)
print("\ndf1:")
print(df1)
print("\nRow with index 'Hifza':")
print(row_hifza)
print("\nRow with index 3:")
print(row_3)

AICP_DF:
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23    Lahore           BSC     5.1

df1:
    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           BSC

Row with index 'Hifza':
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

Row with index 3:
Age                    32
Address          Peshawar
Qualification         Phd
Height                5.2
Name: Kabir, dtype: object